@media (max-device-height: 1600px) {
    html {
        background: #1e1e1e url('images/background.jpg') no-repeat center center fixed;
        background-size: cover;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
    }   
}

@media (min-device-height: 1601px) {
    html {
        background: #1e1e1e url('images/background_4K.jpg') no-repeat center center fixed;
        background-size: cover;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
    }   
}

body {
    background-color: transparent;
    color: #000000;
    margin: 0;
}

.content {
    max-width: 34.375em;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: 14px 0 12px 0;
    color: rgba(255, 234, 197, 0.74);
}

.options {
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    left: 2.15em;
}

#desc, input, select, button {
    border: 1px solid;
    border-radius: 3px;
    background-color: rgba(255, 234, 197, 0.74);
    margin: 0;
}

label {
    color: rgba(255,234,197);
    text-shadow: 0px 0px 2px rgba(73, 92, 115);
}

#desc {
    margin: 0 auto;
    max-width: 32.5em;
    box-shadow: -2px 2px 12px 0px rgba(0, 0, 0, 0.3);
}

#valuePack {
    width: 7.8em;
    padding: 0;
    line-height: normal;
}

.row-2, .row-3 {
    margin-top: 2px;
}

#priceInput, #priceInputAMC, #priceInputBMC {
    width: 12.5em;
}

#sellType {
    width: 7.82em;
}

#trainingLevel {
    width: 9.22em;
}

#horseTierSelect {
    width: 6.875em;
}

#desc p {
    margin: 8px;
}

::selection {
    color: black;
    background: rgba(110, 128, 152, 0.6);
}

button, input, select {
    font-family: inherit;
    font-size: 80%;
    line-height: 1.15;
    padding: 1px 1px;
    height: 1.484em;
    box-sizing: border-box;
}

select {
    padding-top: 0; 
}

select:focus, input:focus, button:focus {
    outline:none;
}

[hidden] {
    display: none;
  }